name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t jun-web:latest .

      - name: Deploy to AWS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            echo "Successfully connected to AWS!"
            cd /home/ubuntu/my-site
            git pull origin main
            sudo docker build -t jun-web:lastest .
            sudo docker stop jun-web-container || true
            sudo docker rm jun-web-container || true
            sudo docker run -d --name jun-web-container -p 8081:80 jun-web:latest
